<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
body{background-color: #88BDBF;margin: 0px;}
</style>
<body>
<table border="0" width="50%" style="margin:auto;padding:30px;background-color: #F3F3F3;border:1px solid #FF7A5A;">
<tr>
<td>
<table border="0" width="100%">
<tr>
<td>
<h1 style="color: rgb(28, 190, 28);">Blogging.Pk</h1>
</td>
<td>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;background-color: #fff;">
<tr>
<td style="background-color:#FF7A5A;height:100px;font-size:50px;color:#fff;"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
</tr>
<tr>
<td>
<h1 style="padding-top:25px;">account verified successfully!</h1>
</td>
</tr>
<tr>
<td>
<p style="padding:0px 100px;">
hey <%= userdata.name %> ! congratulations your account has been verified now 
you can perform regular activity now 
</p>
</td>
</tr>
<tr>
<td>
<a href="http://localhost:5000/profile"><button style="margin:10px 0px 30px 0px;border-radius:4px;padding:10px 20px;border: 0;color:#fff;background-color:#FF7A5A; ">back to account</button></a>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" width="100%" style="border-radius: 5px;text-align: center;">
<tr>
<td>

</td>
</tr>
<tr>
<td>
<div style="margin-top: 20px;">
<span style="font-size:12px;">Lovesh kumar</span><br>
<span style="font-size:12px;">Copyright &copy; 2018 Blogging.pk</span>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>